@import "@fontsource/cairo/400.css";
@import "@fontsource/cairo/600.css";
@import "@fontsource/cairo/700.css";
@import "@fontsource/cairo/800.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply font-cairo bg-[#F5F7F6] text-slate-800;
}

.print-only {
  display: none;
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block;
  }
  body {
    background: #fff;
  }
  main {
    max-width: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
